@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --clr-dark: #2b2b2b;
    --clr-light: #f5f5f5;
    --clr-primary: #FFA700;

}
  
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: var(--clr-dark);
    font-family: var(--truculenta);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }

  body{
    font-family: "Poppins", sans-serif;
  }

  /* HEADER */
.header{
    background-color: var(--clr-dark);
    position: fixed;
    width: 100vw;
    z-index: 999;
}
.header__title{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header__title img{
    width: 8rem;
}
.header__title h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--clr-light);
}
.header__title h2 span{
    color: var(--clr-primary);
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
}

.header__nav{
    display: flex;
    gap: 5rem;
}
.header__nav li a{
    color: var(--clr-light);
}
.header__nav li a:hover{
    color: var(--clr-primary);
}

/* toggle menu */
.toggle__menu {
    display: none;
  }
  
  .toggle__menu span {
    color: var(--clr-light);
    width: 3rem;
    height: 0.3rem;
    border: 2px solid var(--clr-light);
    border-radius: 1rem;
  }
  /* MOBILE RESPONSIVE FOR HEADER */
  @media screen and (max-width: 520px) {
    .toggle__menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .header__nav {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: var(--clr-dark);
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      right: -100%;
      z-index: 9999;
      transform: translateY(-18rem);
      margin-top: 28rem;
      transition: 0.5s ease;
    }
  
    .header__nav.open {
      right: 0;
      transition: 0.5s ease-in-out;
    }
    .header img {
      width: 12rem;
    }
  
    .toggle__menu span {
      transition: 0.5s ease;
    }
    .toggle__menu.open span:nth-child(1) {
      transform: translate(0, 10px) rotate(225deg);
      transition: 0.5s ease;
    }
    .toggle__menu.open span:nth-child(2) {
      opacity: 0;
    }
    .toggle__menu.open span:nth-child(3) {
      transform: translate(0, -7.5px) rotate(-225deg);
      transition: 0.5s ease;
    }

    .header__title img{
        width: 8rem;
    }
    .header__title h2{
        font-size: 2rem;
        font-weight: 700;
        color: var(--clr-light);
    }
  }
/* homebanner */
.homeBanner__wrapper{
    padding: 15rem 0 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeBanner__text{
    width: 47rem;
}

.homeBanner__text h1{
    font-size: 11rem;
    font-weight: 700;
    color: var(--clr-primary);
    line-height: 10rem;
    margin-bottom: 3rem;
}

.homeBanner__text p {
    margin-bottom: 10rem;
    font-weight: 500;
}

/* RESPONSIVE HOMEBANNER */

@media screen and (max-width: 520px){
    .homeBanner__text h1{
        font-size: 8rem;
        line-height: 8rem;
    }
    .homeBanner img{
        display: none;
    }
    .homeBanner__text p {
        margin-bottom: 7rem;
    }
}


/* CARDS */
.cards{
    background-color: var(--clr-dark);
    height: 80rem;
}

.cards__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    padding-top: 10rem;
}

.card{
    height: 40rem;
}
.card{
    width: 40rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 5rem;
}

.card img{
    width: 7rem;
}

.card h4{
    color: var(--clr-primary);
    font-weight: 600;
    font-size: 2rem;
}

.card p{
    padding-bottom: 7rem;
    text-align: justify;
}

/* RESPONSIVE CARDS */
@media screen and (max-width: 520px){
    .cards__wrapper{
        gap: 10rem;
    }
    .card p{
        padding-bottom: 1rem;
    }
    .cards{
        height: 160rem;
    }
}
/* HOME ABOUT */
.homeAbout__wrapper{
    display: flex;
    justify-content: space-between;
    height: 80rem;
}

.homeAbout__img{
    display: flex;
    align-items: center;
}
.aboutImage{
    width: 60rem;
    position: relative;
}
.yellow{
    width: 60rem;
    position: absolute;
    opacity: 50%;
}
.homeAbout__text{
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeAbout__text h3{
    font-size: 2rem;
    font-weight: 500;
    color: var(--clr-primary);
    padding-bottom: 7rem;
}
/* RESPONSIVE HOME ABOUT */
@media screen and (max-width: 520px){
    .aboutImage{
        position: relative;
    }
    .yellow{
        width:397px;
        position: absolute;
        opacity: 50%;
    }
    .homeAbout__wrapper{
        padding-top: 3rem;
        flex-direction: column;
        height: 87rem;
        justify-content: unset;
        gap: 3rem;
    }

    .homeAbout__text{
        width: 40rem;
        text-align: justify;
    }

    .homeAbout__text h3{
        padding-bottom: 4rem;
    }
}

/* TRENDS */
.trends{
    background-color: var(--clr-dark);
    padding: 7rem 0;
}

.trends__title{
    padding-bottom: 7rem;
}

.trends__title h2{
    color: var(--clr-primary);
    font-size: 5rem;
    font-weight: 600;
}

.trends__title p {
    color: var(--clr-light);
}

.trendsCards__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}

.trendsCard{
    width: 45rem;
    background-color: var(--clr-light);
    border-radius: 2rem;
}

.trendsCard img{
    width: 45rem;
}




.trendsCard__text   {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trendsCard p{
    color: var(--clr-dark);
}

.trendsCard a{
    color: var(--clr-primary);
}
.trendsCard h3{
    color: var(--clr-primary);
    font-weight: 500;
}
/* RESPONSIVE TRENDS */
@media screen and (max-width: 520px){
    .trendsCards__wrapper{
        gap: 2rem;
    }
    .trendsCard {
        width: 37rem;
    }
}

.trendsCard {
    width: 37rem;
    background-color: var(--clr-light);
    border-radius: 2rem;
}

/* CALL TO ACTION */
.cta{
    background-color: var(--clr-primary);
    
}

.cta__wrapper{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta__text{
    text-align: center;
    padding-bottom: 2rem;
}

.cta__text h3{
    font-size: 3rem;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: var(--clr-dark);
    color: #8b8b8b;
}
.footer__wrapper{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__wrapper ul{
    display: flex;
    gap: 1rem;
}
.footer__wrapper ul li a{
    color: #8b8b8b;
}

.footer__wrapper {
    display: flex;
    gap: 5rem;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 520px){
    .footer__wrapper{
        flex-direction: column;
        height: 15rem;
        gap: 0.5rem;
        padding: 1rem 0;
        text-align: center;
    }
}
/* ASSETS */
.btn{
    background-color: transparent;
    border: transparent;
    border-radius: 10rem;
    padding: 2rem 3rem;
    color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.bg--yellow{
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.btn.bg--yellow:hover{
    background-color: transparent;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.btn.bg--dark{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.btn.bg--dark:hover{
    background-color: var(--clr-light);
    color: var(--clr-dark);
}